<section class="autos">
  <div class="container">
    <aside class="autos__sidebar">
      <ul class="autos__sidebar__list">
        <li class="autos-sidebar__item">
          <a>Make</a>
          <svg class="arrow-svg">
            <use xlink:href="#arrow-sidebar"></use>
          </svg>
        </li>

        <li class="autos-sidebar__item">
          <a>Price</a>

          <svg class="arrow-svg">
            <use xlink:href="#arrow-sidebar"></use>
          </svg>
        </li>
      </ul>
    </aside>

    <div class="autos__content">
      <ul class="autos__content__list">
        @for (item of data; track item) {
          <app-sport [item]="item"></app-sport>
        }
      </ul>
    </div>
  </div>
</section>

<router-outlet></router-outlet>
