<header class="header">
  <div class="header__inner">
    <div class="container">
      <h1>
        <a [routerLink]="['']">Home</a>
      </h1>
    </div>
  </div>
</header>

<div class="container">
  <section class="form">
    <form [formGroup]="form">
      <h2>Please provide your email address:</h2>
      <div class="form__inner">
        <div class="group">
          <input class="form__inner-input" type="email" placeholder="Email" [ngClass]="!form.controls.email.valid && form.controls.email.touched || showRequired ? 'required': ''" formControlName="email">
          @if(!form.controls.email.valid && form.controls.email.touched || showRequired) {
            <small>Email is required.</small>
          }
        </div>
        <button class="btn  btn-form  mr-2" (click)="handleValue()">Reset Password</button>
      </div>
    </form>

    <div class="form-more">
      <div class="line mb-1"></div>
      <div>
        <a [routerLink]="['/login']">« Back to Login Page</a>
      </div>
    </div>
  </section>
</div>
