.header {
  &__inner {
    padding: 1.5rem 0;
  }

  &__img {
    width: 100%;
    height: 35rem;
    background: url("../../../assets/hero-large.jpg") no-repeat center;
    background-size: cover;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
