<li id="{{item.id}}" class="autos-content__inner">
  <a routerLink="{{ item.id }}">
    <div class="autos-content__header">
      <div class="autos-content__img">
        <img src="{{ item.photo }}" alt="{{ item.title }}">
      </div>
    </div>
  </a>
  <div class="autos-content__info">
    <div class="flex-row  flex-space-between">
      <h3>
        <a>{{ item.title }}</a>
      </h3>
      <div class="price">{{ item.price }}</div>
    </div>

    <div class="line"></div>

    <div class="contact-seller mt-1">
      <a [routerLink]="[item.id]" class="btn btn_full-bg">View details</a>
    </div>
  </div>
</li>
