<nav class="navigator">
  <div class="container">

    <div class="nav">
      <form class="nav-form">
        <div class="nav-form__inner">
          <div class="nav-form__input-search">
            @for (item of searchInput; track item) {
              <app-search-form [data]="item"></app-search-form>
            }
            <button [routerLink]="['all-cars']" class="btn  btn-link  btn_full-bg  btn-search">Show {{ data.length }} cars</button>
          </div>

          <div class="nav-form__more-info">
            @for(filter of filters; track filters) {
              <div class="more-info__group">
                <button class="btn" type="button" (click)="onOpenModal(filter.title)">{{ filter.title }}</button>
              </div>
            }
          </div>
        </div>
      </form>

      <div class="line mt-1 mb-1"></div>
      <h3>Search by lifestyle</h3>
      <ul class="nav__list">
        @for (auto of lifestyle; track auto) {
          <app-lifestyle [auto]="auto"></app-lifestyle>
        }
      </ul>
    </div>
  </div>
</nav>

<app-modal [isOpen]="isModalOpen" (closeModal)="isModalOpen = false">
    @switch (typeFilter) {
      @case (filters[0].title) {
        <app-one-input-form [data]="filters[0]"></app-one-input-form>
      }
       @case (filters[1].title) {
         <app-checkbox-form [data]="filters[1]"></app-checkbox-form>
       }
       @case (filters[2].title) {
         <app-from-to-form [data]="filters[2]"></app-from-to-form>
       }
       @case (filters[3].title) {
         <app-from-to-form [data]="filters[3]"></app-from-to-form>
       }
       @case (filters[4].title) {
         <app-from-to-form [data]="filters[4]"></app-from-to-form>
       }
       @case (filters[5].title) {
         <app-checkbox-form [data]="filters[5]"></app-checkbox-form>
       }
    }
</app-modal>
