<section class="form">
  <form>
    <h2>Price</h2>
    <div class="form__inner flex-row">
      <div class="group">
        <label>
          From:
          <input class="form__inner-input" list="prices-min" type="text" placeholder="min">
        </label>

        <datalist id="prices-min">
          <option value="$3,000">
          <option value="$5,000">
          <option value="$7,000">
          <option value="$10,000">
        </datalist>
      </div>

      <div class="group">
        <label>
          To:
          <input class="form__inner-input" list="prices-max" type="text" placeholder="max">
        </label>

        <datalist id="prices-max">
          <option value="$3,000">
          <option value="$5,000">
          <option value="$7,000">
          <option value="$10,000">
        </datalist>
      </div>
    </div>
    <button class="btn  btn-form">Search</button>
  </form>
</section>
