<section class="form">
  <form method="post" [formGroup]="form">
    <h2>Ask the dealer a question</h2>
    <div class="form__inner">
      <div class="group">
        <textarea class="form__inner-textarea" rows="3" maxlength="1000" placeholder="Write to the seller" formControlName="description"></textarea>
      </div>

      <div class="group">
        <input class="form__inner-input" [ngClass]="!form.controls.name.valid && form.controls.name.touched ? 'form__inner-input_required': ''" type="text" placeholder="Full Name" formControlName="name">
        @if(!form.controls.name.valid && form.controls.name.touched) {
          <small>Name is required.</small>
        }
      </div>

      <div class="group">
        <input class="form__inner-input" [ngClass]="!form.controls.email.valid && form.controls.email.touched ? 'form__inner-input_required': ''" type="email" placeholder="Email" formControlName="email">
        @if(!form.controls.email.valid && form.controls.email.touched) {
          <small>Email is required.</small>
        }
      </div>

      <div class="group">
        <input class="form__inner-input" [ngClass]="!form.controls.phone.valid && form.controls.phone.touched ? 'form__inner-input_required': ''" type="tel" placeholder="Phone" formControlName="phone">
        @if(!form.controls.phone.valid && form.controls.phone.touched) {
          <small>Phone is required.</small>
        }
      </div>
      <button class="btn  btn-form" (click)="handleValue()">Contact seller</button>
    </div>
  </form>

  <div class="call">
    <div class="line mb-1"></div>
    <h3>Call the dealer</h3>
    <div class="phone">+7 (701) 180 3000</div>
  </div>
</section>
