<section class="form">
  <form method="post">
    <h2>Ask the dealer a question</h2>
    <div class="form__inner">
      <div class="group">
        <textarea class="form__inner-textarea" rows="3" maxlength="1000">I'm interested, please contact me?</textarea>
      </div>

      <div class="group">
        <input class="form__inner-input" type="text" placeholder="Full Name">
      </div>

      <div class="group">
        <input class="form__inner-input" type="email" placeholder="Email">
      </div>

      <div class="group  flex-row ">
        <input class="form__inner-input" type="text" placeholder="Phone">
        <input class="form__inner-input  w100" type="text" placeholder="Postcode">
      </div>
      <button class="btn  btn-form" type="submit">Contact seller</button>
    </div>
  </form>

  <div class="call">
    <div class="line mb-1"></div>
    <h3>Call the dealer</h3>
    <div class="phone">+7 (701) 180 3000</div>
  </div>
</section>
