<section class="auto">
  <div class="container">
    <div class="auto-content">

        <div class="auto-content__introduce ">
          <h2 class="auto-content__title">{{ data.title }}</h2>
          <div class="auto-content__cost">{{ data.price }}</div>
        </div>
        <div class="auto-content__flex">

          <div class="auto-content__img">
            <div class="auto-content__img-main">
              <img src="{{data.mainPhoto}}" alt="{{ data.title }}">
            </div>

            <div class="auto-content__img-submain">
              <div class="auto-content__img-submain__item">
                <img src="{{ data.photos[0].photo }}" alt="{{ data.title }}">
              </div>

              <div class="auto-content__img-submain__item">
                <img src="{{ data.photos[1].photo }}" alt="{{ data.title }}">
              </div>

              <div class="auto-content__img-submain__item">
                <img src="{{ data.photos[2].photo }}" alt="{{ data.title }}">
              </div>

              <div class="auto-content__img-submain__item">
                <img src="{{ data.photos[3].photo }}" alt="{{ data.title }}">
                <div class="shadow">
                  <p>{{ photos }} photos</p>
                </div>
              </div>
            </div>
          </div>

          <div class="auto-content__info">
          </div>
        </div>
    </div>
  </div>
</section>
