.auto {
  margin-top: 3rem;

  .auto-content__title {
    font-size: 28px;
    font-weight: 600;
  }

  .auto-content__cost {
    font-size: 28px;
    line-height: 1;
    font-weight: 600;
  }

  .auto-content__flex {
    display: flex;
    align-items: start;
    gap: 2rem;
    margin-top: 2rem;
  }

  .auto-content__img {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 2rem;

    .auto-content__img-main {
      img {
        max-width: 58.8rem;
        height: 39.2rem;
        border-radius: 1rem;
        cursor: pointer;
      }
    }

    .auto-content__img-submain  {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      &__item {
        position: relative;
        .shadow {
          display: flex;
          align-items: center;
          justify-content: center;

          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, .3);
          border-radius: 1rem;
          position: absolute;
          top: 0;
          cursor: pointer;
        }

        img {
          max-width: 12.1rem;
          border-radius: 1rem;
          cursor: pointer;
        }
        p {
          color: #fff;
          text-transform: uppercase;
        }
      }
    }
  }

  .auto-content__description {
    padding: 1rem;
    background-color: #eeeeee;
    border-radius: 1rem;
  }

  .auto-content__list {
    margin-top: 2rem;
    .auto-content__list-item {
      h3 {
        min-width: 15rem;
      }

      div::first-letter {
        text-transform: uppercase;
      }
    }
  }

  .auto-content__text {
    margin-top: 2rem;

    h2 {
      font-size: 24px;
      font-weight: 500;
      overflow: auto;
      padding: 6px 0;
    }

    h3 {
      font-size: 18px;
      font-weight: 500;
      margin: 24px 0 12px;
    }

    p {
      font-size: inherit;
      font-weight: 400;
      line-height: 1.75;
      margin: 0 0 24px;
    }

    ul {
      margin: 6px 0 18px 36px;
      list-style: disc;
    }

    .line {
      width: 100%;
      height: 2px;
      background-color: #eeeeee;
    }
  }
}

