<div class="random-autos">
  <div class="container">
    <div class="random-autos__arrows">
      <svg class="arrow arrow_left">
        <use xlink:href="#arrow"></use>
      </svg>

      <svg class="arrow">
        <use xlink:href="#arrow"></use>
      </svg>
    </div>

    <ul class="random-autos__list">
      <app-slider-autos-item></app-slider-autos-item>
      <app-slider-autos-item></app-slider-autos-item>
      <app-slider-autos-item></app-slider-autos-item>
    </ul>

    <div class="random-autos__btn">
      <a class="btn-blue-line">Show all car</a>
    </div>
  </div>
</div>
