.random-autos {
  margin-top: 5rem;

  .container {
    overflow: hidden;
  }

  &__arrows {
    display: flex;
    align-items: center;
    justify-content: end;

    button {
      background-color: transparent;
      border: none;
    }
  }

  &__list {
    display: flex;
    margin-top: 1rem;
    gap: 2rem;
    transition: transform 0.5s ease-in-out;
  }
  &__btn {
    margin-top: 1.5rem;
    text-align: center;
  }
}
