<div class="random-autos">
  <div class="container">
    <div class="random-autos__arrows">
      <button (click)="prev()">
        <svg class="arrow arrow_left">
          <use xlink:href="#arrow-slider"></use>
        </svg>
      </button>

      <button (click)="next()">
        <svg class="arrow">
          <use xlink:href="#arrow-slider"></use>
        </svg>
      </button>
    </div>

    <ul class="random-autos__list" [ngStyle]="transformStyles">
      @for(item of data; track item) {
        <app-slider-autos-item [item]="item"></app-slider-autos-item>
      }
    </ul>

    <div class="random-autos__btn">
      <a [routerLink]="['all-cars']" class="btn  btn-link">Show all car</a>
    </div>
  </div>
</div>
